<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <strong>Chỉnh sửa</strong>
        </div>
        {{#if data}}
        <div class="card-body card-block">
            <form action="/users/edit" id="form" method="post" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">ID tài khoản</label></div>
                   <div class="col-12 col-md-9"><input type="text" id="disabled-input" name="userID"
                            placeholder="Disabled" readonly value="{{data._id}}" class="form-control" /></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="name" class=" form-control-label">Họ tên</label></div>
                    <div class="col-12 col-md-9"><input type="text" value="{{data.name}}" id="name" name="name"
                            placeholder="Nguyễn Văn A" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="email" class=" form-control-label">Email</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="email" value="{{data.email}}" id="email" name="email"
                            placeholder="Email" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="password" class=" form-control-label">Mật khẩu</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="password" id="password" name="password"
                            placeholder="Mật khẩu" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="phone" class=" form-control-label">Số điện thoại</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="number" value="{{data.phone}}" id="phone" name="phone"
                            placeholder="Số điện thoại" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="address" class=" form-control-label">Địa chỉ</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="text" value="{{data.address}}" id="address" name="address"
                            placeholder="227 Nguyễn Văn Cừ" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="ward" class=" form-control-label">Phường</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="text" value="{{data.ward}}" id="ward" name="ward"
                            placeholder="4" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="district" class=" form-control-label">Quận</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="text" value="{{data.district}}" id="district"
                            name="district" placeholder="Bình Thạnh" class="form-control"></div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button form="form" type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-sync-alt"></i> Cập nhật
            </button>
        </div>
        {{/if}}
    </div>
</div>