<div class="col-sm">
    <div class="card">
        <div class="card-header">
            <strong>{{title}}</strong>
        </div>
        <div class="card-body card-block">
            <form action="/product/edit" id="form" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input" class=" form-control-label">ID sản
                            phẩm</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="disabled-input" name="productID"
                            placeholder="Disabled" readonly value="{{productInfo._id}}" class="form-control" /></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="brand" class=" form-control-label">Thương hiệu</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select name="brand" id="brand" class="form-control-lg form-control">
                            {{#each brands}}
                            {{#ifCond ../productInfo.brand this._id}}
                            <option value="{{this._id}}" selected>{{this.name}}</option>
                            {{else}}
                            <option value="{{this._id}}">{{this.name}}</option>
                            {{/ifCond}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="name" class=" form-control-label">Tên sản phẩm</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="text" id="name" name="name" placeholder="Tên"
                            class="form-control" value="{{productInfo.name}}" required><small
                            class="form-text text-muted">Nhập tên sản phẩm</small>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="type" class=" form-control-label">Loại</label></div>
                    <div class="col-12 col-md-9">
                        <select name="type" id="type" class="form-control" required>
                            <option value="Hàng chính hãng">Hàng chính hãng</option>

                            {{#ifCond productInfo.type "Hàng nhập khẩu"}}
                            <option value="Hàng nhập khẩu" selected>Hàng nhập khẩu</option>
                            {{else}}
                            <option value="Hàng nhập khẩu">Hàng nhập khẩu</option>
                            {{/ifCond}}

                            {{#ifCond productInfo.type "Đã kích hoạt"}}
                            <option value="Đã kích hoạt" selected>Đã kích hoạt</option>
                            {{else}}
                            <option value="Đã kích hoạt">Đã kích hoạt</option>
                            {{/ifCond}}
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="stock" class=" form-control-label">Số lượng</label>
                    </div>
                    <div class="col-12 col-md-4"><input min="0" type="number" id="stock" name="stock"
                            placeholder="Số lượng" class="form-control" value="{{productInfo.stock}}" required><small
                            class="help-block form-text">Đơn
                            vị:
                            cái</small>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="price" class=" form-control-label">Giá sản phẩm</label>
                    </div>
                    <div class="col-12 col-md-4"><input onchange="formatPrice(this.value)" min="0" max="100000000"
                            type="number" id="price" value="{{productInfo.price}}" name="price" placeholder="Giá"
                            class="form-control" required><small class="form-text text-muted">Đơn giá:
                            VNĐ</small></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="CPU" class=" form-control-label">Chip xử lý</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="text" id="CPU" name="CPU"
                            placeholder="Qualcom Snapdragon 855" class="form-control" value="{{productInfo.info.CPU}}"
                            required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="OS" class=" form-control-label">Hệ điều hành</label></div>
                    <div class="col-12 col-md-9">
                        <select name="OS" id="OS" class="form-control" required>
                            <option value="">Chọn hệ điều hành</option>

                            {{#ifCond productInfo.info.OS "Android"}}
                            <option value="Android" selected>Android</option>
                            {{else}}
                            <option value="Android">Android</option>
                            {{/ifCond}}


                            {{#ifCond productInfo.info.OS "iOS"}}
                            <option value="iOS" selected>iOS</option>
                            {{else}}
                            <option value="iOS">iOS</option>
                            {{/ifCond}}

                            {{#ifCond productInfo.info.OS "other"}}
                            <option value="other" selected>Khác</option>
                            {{else}}
                            <option value="other">Khác</option>
                            {{/ifCond}}

                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="backCamera" class=" form-control-label">Camera sau</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="text" id="backCamera" name="backCamera"
                            placeholder="12 MP" class="form-control" value="{{productInfo.info.backCamera}}" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="frontCamera" class=" form-control-label">Camera trước</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="text" id="frontCamera" name="frontCamera"
                            placeholder="8 MP" class="form-control" value="{{productInfo.info.frontCamera}}" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="RAM" class=" form-control-label">Dung lượng RAM</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select name="RAM" id="RAM" class="form-control-sm form-control" required>
                            <option value="">Chọn dung lượng RAM</option>
                            {{#ifCond productInfo.info.RAM "16"}}
                            <option value="16" selected>16 GB</option>
                            {{else}}
                            <option value="16">16 GB</option>
                            {{/ifCond}}

                            {{#ifCond productInfo.info.RAM "8"}}
                            <option value="8" selected>8 GB</option>
                            {{else}}
                            <option value="8">8 GB</option>
                            {{/ifCond}}

                            {{#ifCond productInfo.info.RAM "6"}}
                            <option value="6" selected>6 GB</option>
                            {{else}}
                            <option value="6">6 GB</option>
                            {{/ifCond}}

                            {{#ifCond productInfo.info.RAM "4"}}
                            <option value="4" selected>4 GB</option>
                            {{else}}
                            <option value="4">4 GB</option>
                            {{/ifCond}}

                            {{#ifCond productInfo.info.RAM "4"}}
                            <option value="4" selected>4 GB</option>
                            {{else}}
                            <option value="4">4 GB</option>
                            {{/ifCond}}

                            {{#ifCond productInfo.info.RAM "3"}}
                            <option value="3" selected>3 GB</option>
                            {{else}}
                            <option value="3">3 GB</option>
                            {{/ifCond}}

                            {{#ifCond productInfo.info.RAM "2"}}
                            <option value="2" selected>2 GB</option>
                            {{else}}
                            <option value="2">2 GB</option>
                            {{/ifCond}}

                            {{#ifCond productInfo.info.RAM "1"}}
                            <option value="1" selected>1 GB</option>
                            {{else}}
                            <option value="1">1 GB</option>
                            {{/ifCond}}


                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="ROM" class=" form-control-label">Bộ nhớ trong</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select name="ROM" id="ROM" class="form-control-sm form-control" required>
                            <option value="">Chọn bộ nhớ trong</option>

                            {{#ifCond productInfo.info.ROM "1024"}}
                            <option value="1024" selected>1 TB</option>
                            {{else}}
                            <option value="1024">1 TB</option>
                            {{/ifCond}}

                            {{#ifCond productInfo.info.ROM "512"}}
                            <option value="512" selected>512 GB</option>
                            {{else}}
                            <option value="512">512 GB</option>
                            {{/ifCond}}

                            {{#ifCond productInfo.info.ROM "256"}}
                            <option value="256" selected>256 GB</option>
                            {{else}}
                            <option value="256">256 GB</option>
                            {{/ifCond}}

                            {{#ifCond productInfo.info.ROM "128"}}
                            <option value="128" selected>128 GB</option>
                            {{else}}
                            <option value="128">128 GB</option>
                            {{/ifCond}}

                            {{#ifCond productInfo.info.ROM "64"}}
                            <option value="64" selected>64 GB</option>
                            {{else}}
                            <option value="64">64 GB</option>
                            {{/ifCond}}

                            {{#ifCond productInfo.info.ROM "32"}}
                            <option value="32" selected>32 GB</option>
                            {{else}}
                            <option value="32">32 GB</option>
                            {{/ifCond}}

                            {{#ifCond productInfo.info.ROM "16"}}
                            <option value="16" selected>16 GB</option>
                            {{else}}
                            <option value="16">16 GB</option>
                            {{/ifCond}}

                            {{#ifCond productInfo.info.ROM "8"}}
                            <option value="8" selected>8 GB</option>
                            {{else}}
                            <option value="8">8 GB</option>
                            {{/ifCond}}
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Số sim</label></div>
                    <div class="col col-md-9">
                        <div class="form-check">
                            <div class="radio">
                                <label for="1-sim" class="form-check-label ">
                                    {{#ifCond productInfo.info.sim "1"}}
                                    <input type="radio" id="1-sim" name="sim" value="1" checked class="form-check-input"
                                        required />1 sim
                                    {{else}}
                                    <input type="radio" id="1-sim" name="sim" value="1" class="form-check-input"
                                        required />1 sim
                                    {{/ifCond}}
                                </label>
                            </div>
                            <div class="radio">
                                <label for="2-sim" class="form-check-label ">
                                    {{#ifCond productInfo.info.sim "2"}}
                                    <input type="radio" id="2-sim" name="sim" value="2" checked class="form-check-input"
                                        required />2 sim
                                    {{else}}
                                    <input type="radio" id="2-sim" name="sim" value="2" class="form-check-input"
                                        required />2 sim
                                    {{/ifCond}}
                                </label>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="pin" class=" form-control-label">Dung lượng pin</label>
                    </div>
                    <div class="col-12 col-md-4"><input min="500" max="40000" type="number" id="pin" name="PIN"
                            value="{{productInfo.info.PIN}}" placeholder="Dung lượng pin" class="form-control"><small
                            class="help-block form-text">Đơn
                            vị: mAh</small>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="display" class=" form-control-label">Kích thước màn
                            hình</label>
                    </div>
                    <div class="col-12 col-md-4"><input type="number" step=0.01 id="display" name="Screen"
                            value="{{productInfo.info.Screen}}" placeholder="Kích thước màn hình" class="form-control"
                            required><small class="help-block form-text">Đơn vị: inches</small>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label for="display" class=" form-control-label">Màu sắc
                        </label>
                    </div>
                    <div class="col col-md-9">
                        <div class="form-check">
                            <div class="checkbox">
                                <label for="black" class="form-check-label ">
                                    {{#if productInfo.color1}}
                                    <input type="checkbox" id="black" name="color1" value="Đen" class="form-check-input"
                                        checked>Đen
                                    {{else}}
                                    <input type="checkbox" id="black" name="color1" value="Đen"
                                        class="form-check-input">Đen
                                    {{/if}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="gray" class="form-check-label ">
                                    {{#if productInfo.color2}}
                                    <input type="checkbox" id="gray" name="color2" value="Xám" class="form-check-input"
                                        checked>Xám
                                    {{else}}
                                    <input type="checkbox" id="gray" name="color2" value="Xám"
                                        class="form-check-input">Xám
                                    {{/if}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="blue" class="form-check-label ">
                                    {{#if productInfo.color3}}
                                    <input type="checkbox" id="blue" name="color3" value="Xanh" class="form-check-input"
                                        checked>Xanh
                                    {{else}}
                                    <input type="checkbox" id="blue" name="color3" value="Xanh"
                                        class="form-check-input">Xanh
                                    {{/if}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="gold" class="form-check-label ">
                                    {{#if productInfo.color4}}
                                    <input type="checkbox" id="gold" name="color4" value="Vàng" class="form-check-input"
                                        checked>Vàng
                                    {{else}}
                                    <input type="checkbox" id="gold" name="color4" value="Vàng"
                                        class="form-check-input">Vàng
                                    {{/if}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="silver" class="form-check-label ">
                                    {{#if productInfo.color5}}
                                    <input type="checkbox" id="silver" name="color5" value="Bạc"
                                        class="form-check-input" checked>Bạc
                                    {{else}}
                                    <input type="checkbox" id="silver" name="color5" value="Bạc"
                                        class="form-check-input">Bạc
                                    {{/if}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="red" class="form-check-label ">
                                    {{#if productInfo.color6}}
                                    <input type="checkbox" id="red" name="color6" value="Đỏ"
                                        class="form-check-input" checked>Đỏ
                                    {{else}}
                                    <input type="checkbox" id="red" name="color6" value="Đỏ"
                                        class="form-check-input">Đỏ
                                    {{/if}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="violet" class="form-check-label ">
                                    {{#if productInfo.color7}}
                                    <input type="checkbox" id="violet" name="color7" value="Tím"
                                        class="form-check-input" checked>Tím
                                    {{else}}
                                    <input type="checkbox" id="violet" name="color7" value="Tím"
                                        class="form-check-input">Tím
                                    {{/if}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="pink" class="form-check-label ">
                                    {{#if productInfo.color8}}
                                    <input type="checkbox" id="pink" name="color8" value="Hồng"
                                        class="form-check-input" checked>Hồng
                                    {{else}}
                                    <input type="checkbox" id="pink" name="color8" value="Hồng"
                                        class="form-check-input">Hồng
                                    {{/if}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="product-image" class=" form-control-label">Hình ảnh sản
                            phẩm</label></div>
                    <div class="col-12 col-md-9"><input type="file" accept="image/*" id="product-image"
                            name="product-image" multiple="" class="form-control-file"></div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" form="form" class="btn btn-primary btn-sm">
                <i class="fa fa-save"></i> Lưu
            </button>
        </div>
    </div>
</div>