<div class="col-sm">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Danh sách</strong>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Mã</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Số lượng sản phẩm</th>
                        <th scope="col">Đã bán</th>
                        <th scope="col">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <th scope="row">{{this._id}}</th>
                        <td>{{this.name}}</td>
                        <td>{{this.count}}</td>
                        <td>{{this.sold}}</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-3">
                                    <a style="color: green" class="fa fa-edit" href="/brands/edit/{{this._id}}"
                                        alt="Sửa"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a style="color: red" class="fa fa-times" onclick="deleteBrand('{{this._id}}')"
                                        href="#" alt="Xoá"></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>